<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD59Gt0GyzyrlWjE0HL88rJ25OwcqSxRWc</string>
	<key>GCM_SENDER_ID</key>
	<string>462396180516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-7e711</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-7e711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462396180516:ios:03897507bec74bb28ef0b1</string>
</dict>
</plist>